                    /*-----default style-----*/

:root {
    --header-height: 70px;
    --header-padding: 21px;
    --header-color: white;
    
    --text-color-alt: white;
    --text-color-green: rgb(53, 218, 186);

    --bg-color-alt: #f7f7f7;
    
    --border-color-green: rgb(53, 218, 186);
    --border-color-white: white;
    
    --footer-bg-c: #303846;
}

.page {
    margin: 0;
    font: 16px Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right:0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 var(--header-padding);

    background-color: var(--header-color);
}

footer {
    display: flex;
    padding: calc(var(--header-height) /2);

    font-weight: bold;

    color: var(--text-color-alt);
    background-color: var(--footer-bg-c);
}

h1 {
    margin: 27px 0 0 0;
    font-size: 46px;
}

h2 {
    margin-top: 0;
    font-size: 30px;
}

h3 {
    margin-top: 18px 0 9px 0;
    font-size: 24px;
}

h4 {
    font-size: 24px;
}

                    /*------ re-use elements -----*/
.screen-padding {
    padding: var(--header-height) 0;
}

.content-block-model {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
}

.menu-item {
    margin-left: 18px;
    
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    color: black;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 155px;   
}

.logo-img-small {
    width: 40px;
}


.btn {
    width: 160px;
    height: 45px;

    margin-top: 18px;
    font-size: 18px;

    background-color: transparent; 
    border: 2px solid;
    border-radius: 10px;   
}

.form-block-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

                    /*----- layout -----*/
.position-absolute {
    position: absolute;
}

.z-index-100 {
    z-index: 100;
}

                    /*----- block-model -----*/
.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.h-30px {
    height: 30px;
}

.h-33px {
    height: 33px;
}

.h-200px {
    height: 200px;
}

.w-170px {
    width: 170px;
}

.w-160px {
    width: 160px;
}

.w-190px {
    width: 190px;
}

.w-290px {
    width: 290px;
}

.w-370px {
    width: 370px;
}

.w-400px {
    width: 400px;
}

.w-500px {
    width: 500px;
}

.p-top-header {
    padding-top: var(--header-height);
}

.m-top-18px {
    margin-top: 18px;
}

.my-10px-0 {
    margin: 10px 0;
}

                    /*----- typography -----*/
.font-bold {
    font-weight: bold;
}

.font-size-30px {
    font-size: 30px;
}

                /*----- decoration -----*/
.border-1px-solid-grey {
    border: solid 1px #a8a8a8;
}

.border-radius-10px {
    border-radius: 10px;
}

.bg-color-alt {
    background-color: var(--bg-color-alt);
}

.c-black {
    color: black;
}

.text-color-alt {
    color: var(--text-color-alt);
}

.text-border-white {
    color: var(--text-color-alt);
    border-color: var(--border-color-white);
}

.text-border-green {
    color: var(--text-color-green);
    border-color: var(--border-color-green);
}

.bg-banner {
    background-image: url(../images/banner.png);
    background-position: bottom 30% right 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

                    /*----- animation -----*/
a:hover {
    color: red;
    text-decoration: underline;
}

                    /*----- other -----*/
