.page {
    font: 16px Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 300;
    
    top: 0px;
    left: 0px;
    right: 0px;
    
    padding: 0 21px 0 19px;
    height: 70px;

    background-color: white;
}

.logo{
    display: flex; 
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    width: 200px;
    height: 60px;
}
.logo__img {
    width: 40x;
    height: 40px;
}

.logo__company-name {
    margin: 00px 0 0 16px;
    
    font-weight: bold;
}

.main-menu {
    margin: 0 0px 0 18px;
    
    font-weight: bold;
    font-size: 14px;
    
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: crimson;
    text-decoration: underline;
}

.main {
    height: 100%;
    width: 100%;
    
    padding-top: 63px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 100;
    
    height: 404px;
    width: 100%;

    background-color: slateblue;
}

.banner__bg-img {
    position: absolute;
    
    width: 150%;
    
    padding-right: -150px;
    padding-left: 350px;
    padding-bottom: 150px;
}

.banner__logo-img{
    position: relative;
    
    width: 170px;
    height: 170px;
}

.banner__slogan{
    position: relative;
    
    margin: 18px 0 27px 0;
    
    font-weight: bold;
    color: #ffffff;
}

.banner__slogan_big{
    margin: 27px 0 0px 0;
 
    font-size: 46px;
    font-weight: bold;
}

.banner__button{
    position: relative;
 
    width: 160px;
    height: 45px;
    
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    
    font-size: 18px;
    color: white;
}

.main-content{
    width: 100%;
    
    margin-top: -20px;
}

.section-advantages {
    height: 321px;
    width: 100%;
}

.content-aria{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    width: 1000px;
    
    margin: auto;
}

.content-aria__text-block_300{
    width: 290px;
    margin-top: 65px;
}

.content-aria__text-block_500{
    width: 500px;
    margin-top: 50px;
}

.content-aria__text_h2{
    font-size: 30px;
}

.content-aria__text_p{
    font-size: 16px;
}

.section-about-prj{
    height: 357px;
    width: 100%;

    background-color: #f7f7f7;
}
.section-place-to-rest{
    height: 360px;
    width: 100%;
}

.content-aria__img{
    height: 200px;

    margin-top: 70px;
}

.feedback-form{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 650px;

    background-color: #f7f7f7;
}

.feedback-form__p{
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 0px 0;
}

.feedback-form__fieldset{
    width: 455px;
    font-size: 16px;
    
    margin-top: 20px;
    
    color: rgb(53, 218, 186);;
    border-color:rgb(53, 218, 186);
}

.rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    width: 370px;
    height: 80px;

    margin: 10px 0 10px 0;
}

.feedback-form__legend{
    font-size: 32px;
}

.feedback-form__label{
    width: 160px;
    
    padding-left: 5px;
    
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.feedback-form_select{
    height: 33px;
    font-weight: normal;
    border-radius: 10px;
}

.costomer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    width: 411px;
    height: 120px;

    margin: 10px 0 10px 0;
}

.feedback-form_input-text{
    width: 190px;
    height: 30px;

    font-weight: normal;

    border-radius: 10px;
    border: solid 1px #a8a8a8;
}

.feedback-form__submit-button{
    width: 159px;
    height: 45px;

    font-weight: bold;
    
    margin-top: 20px;

    color: rgb(53, 218, 186);
    border:solid rgb(53, 218, 186);
    background-color: transparent;
    border-radius: 10px;
}

.footer {
    width: 100%;
    height: 200px;
}

