                    /*-----default style-----*/

:root {
    --headder-height: 70px;

    --headder-color: white;
    --text-color-alt: white;
    --text-color-green: rgb(53, 218, 186);

    --bg-color-alt: #f7f7f7;
    --border-color-green: rgb(53, 218, 186);
    --footer-bg-c: #303846;
}

.page {
    font: 16px Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    position: relative;
    margin: 27px 0 0 0;
    font-size: 46px;
}

h2 {
    margin-top: 0;
    font-size: 30px;
}

h3 {
    position: relative;
    margin-top: 18px 0 27px 0;
   
    font-size: 24px;
}

h4 {
    font-size: 24px;
}


                    /*------ re-use elements -----*/
.screen-padding {
    padding: var(--headder-height) 0;
}

.content-block-model {
    display: flex;
    justify-content: space-between;
    
    height: 100%;
    width: 1000px;

    margin: auto;
}

.header {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right:0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 19px 0 21px;

    background-color: var(--headder-color);
}

.menu-item {
    margin-left: 18px;
    
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    color: black;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 60px;
}

.logo-img-small {
    width: 40px;
}

.content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 160px;
    height: 45px;
    
    font-size: 18px;

    background-color: transparent; 
    border: 2px solid;
    border-radius: 10px;   
}

.form-block-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

                    /*----- layout -----*/
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.z-index-100 {
    z-index: 100;
}

                    /*----- block-model -----*/
.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.display-flex {
    display: flex;
}

.h-30px {
    height: 30px;
}

.h-33px {
    height: 33px;
}

.h-80px {
    height: 80px;
}

.h-120px {
    height: 120px;
}

.h-200px {
    height: 200px;
}

.h-404px{
    height: 404px;    
}

.w-170px {
    width: 170px;
}

.w-160px {
    width: 160px;
}

.w-190px {
    width: 190px;
}

.w-290px {
    width: 290px;
}

.w-370px {
    width: 370px;
}

.w-411px {
    width: 411px;
}

.w-455px {
    width: 455px;
}

.w-500px {
    width: 500px;
}

.w-150per {
    width: 150%;
}

.padding-footer {
    padding: calc(var(--headder-height) /2);
}

.p-bottom-150px {
    padding-bottom: 150px;
}

.p-left-5px {
    padding-left: 5px;
}

.p-bottom-0px {
    padding-bottom: 0px;
}

.p-left-350px {
    padding-left: 350px;
}

.m-bottom-0px {
    margin-bottom: 0;
}

.m-left-16px {
    margin-left: 16px;
}

.m-top-18px {
    margin-top: 18px;
}

.my-10px-0 {
    margin: 10px 0;
}

                    /*----- typography -----*/
.font-bold {
    font-weight: bold;
}

.font-size-32px {
    font-size: 32px;
}

                /*----- decoration -----*/
.footer-bg-color {
    background-color: var(--footer-bg-c);
}

.border-1px-solid-grey {
    border: solid 1px #a8a8a8;
}

.border-color-white {
    border-color: white;
}

.border-color-green {
    border-color: var(--border-color-green);
}

.border-radius-10px {
    border-radius: 10px;
}

.bg-color-alt {
    background-color: var(--bg-color-alt);
}

.c-black {
    color: black;
}

.text-color-alt {
    color: var(--text-color-alt);
}

.text-color-green {
    color: var(--text-color-green);
}

.overflow-hidden {
    overflow: hidden;
}

                    /*----- animation -----*/
a:hover {
    color: red;
    text-decoration: underline;
}

                    /*----- other -----*/
